/* Uso de selectores por nombres de etiquetas*/

body {
    background:rgba(169, 234, 6, 0.876)}

li {
    font-size: 40px;
}

a{
    font-weight: bold;
    font-size: 30px;
    color: orchid;
}

/* Uso de selectores por clase */
.my-button {
    border: solid 3px skyblue;
}

/* Uso de selectores por ID */

#list-item-one {
    background-color: skyblue;
}
#list-item-especial {
    background-color: rgb(218, 131, 218);
    font-weight: bold;
}

/* Uso de selectores avanzados */
body .my-ul #list-item-especial{
    color: white;
}